<div class="navbar" style="justify-content: center;position: absolute;top: 0%;">
  <div class="logo">
      <%= image_tag 'fishu/logo.png' %>
  </div>
</div>
<div class="index">
<% if @user.tanks %>
  <% @tanks.each do |tank| %>

    <%= link_to tank.fish.last.name, tank_path(tank), class:"lien" %>
  <% end %>
<% end %>
<div class="">
<%= form_with model: [ Tank.new] do |f| %>
<%= f.submit "Creer mon aquarium", class: "image-submit lien"%>
<% end %>
</div>

</div>
