<div class="navbar" style="justify-content: center">
  <div class="logo">
      <%= image_tag 'https://res.cloudinary.com/detoat4si/image/upload/v1709910367/logo_vkcqrc.png' %>
  </div>
</div>
<div class="formulaire">
<%= form_with model: [@user, @tank] do |f| %>
<%= f.submit "Creer mon aquarium"%>
<% end %>
</div>
