<div class="navbar" style="justify-content: center;position: absolute;top: 0%;">
  <div class="logo">
      <%= image_tag 'fishu/logo.png' %>
  </div>
</div>
<div class="formulaire">
<%= form_with model: [@user, @tank] do |f| %>
<%= f.submit "Creer mon aquarium", class: "image-submit"%>
<% end %>
</div>
