@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
/* 'Pixelify Sans' */

/* *{
  border: solid 1px #f90000;
} */


body {
  /* font-family: 'Public Pixel', sans-serif; */
  font-family: 'Pixelify Sans';
  display: grid;
  height: 100vh;
  margin: 0;
  box-sizing: border-box;
  padding: 2%;
  background-color: rgb(170, 170, 170);
  overflow: hidden;
}

@media (orientation: landscape) {
  body {
    grid-template-rows: 1fr;
    grid-template-columns: 6% 1fr 1fr;
    padding-left:0;
    padding: 1%
  }
  .logo{
    transform: rotate(270deg);
  }
}
@media (orientation: portrait) {
  body {
    grid-template-rows: 6% 1fr 1fr;
    grid-template-columns: 1fr;
    padding-top: 0;
  }
}

.session{
  grid-column: 2/3;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap:2%;
}

h2{
  grid-column: 1/-1;
  grid-row: 1/-1;
  justify-self: center;
  align-self: center;
  font-size: 4em;
}

.screen{
  display: grid;
  background-color: #476846;
  grid-template-columns: repeat(10,10%);
  grid-template-rows: repeat(10,10%);
  overflow: scroll;
  grid-auto-columns: 10%;
  border-top: solid 1px #2b2b2b;
  border-left: solid 1px #2b2b2b;
  box-shadow: -1px -1px 1px #000;
  border-radius: 10px;

}

.screendisplay{
  display:grid;
  background-color: #476846;
  grid-template-columns: repeat(10,1fr);
  grid-template-rows: repeat(10,1fr);
  overflow: scroll;
  grid-auto-rows: 1fr;
  border-top: solid 1px #2b2b2b;
  border-left: solid 1px #2b2b2b;
  box-shadow: -1px -1px 1px #000;
  border-radius: 10px;
}

.ligne{
  grid-column: 1/-1;
  text-decoration: none;
  color: black;
  font-size: 2em;
}

.bowl{
  background-image: url(fishu/bocal.png);
  grid-row: 1/-1;
  grid-column: 1/-1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 5px;
}


p{
  margin:0
  }

.select:hover{
  background-color: #000000;
  color: #476846;
}
.alert {
  position: fixed;
  bottom: 1rem;
  width: 90vw;
  background-color: white;
  animation: degage 1.2s forwards;
}

@keyframes degage {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    display: none;
    opacity: 0;
  }
}

.dashboard {
  background-color: #476846;
  border-radius: 10px;
  padding: 16px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  border-top: solid 1px #2b2b2b;
  border-left: solid 1px #2b2b2b;
  box-shadow: -1px -1px 1px #000;
  justify-content: space-between;
  overflow: scroll;
}

.underline {
  border-bottom: dashed;
  margin-bottom: 3px;
  text-align: center;
}

.fish-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.fish-list {
  display: flex;
  flex-direction: column;
  padding-left: 5px;
}

.tank-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.details-info {
  display: flex;
  flex-direction: column;
  padding-left: 5px;
}

.nb {
  /* font-family: 'Public Pixel', sans-serif; */
  font-family: 'pixer';
  /* font-size: 10px; */
}

.item {
  display: flex;
  align-items: center;
  gap: 5px;
}

.item-fish {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: space-between;
}

.flex{
  display:flex;
  flex-direction: column;
}

.trous{
  display: flex;
}
.trou{
  height: 3px;
  width: 3px;
  background: #2b2b2b;
  box-shadow: -1px -1px 1px #000;
  border-radius: 50%;
}

.bag{
  background-image: url(fishu/sac.png);
  grid-row: 1/-1;
  grid-column: 1/-1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 5px;
}

.fishi{
  background-image: url(fishu/fishi.png);
  grid-row: 5/10;
  background-size: contain;
  grid-column: 4/8;
  background-repeat: no-repeat;
  background-position: center;
  animation: Swim 1s linear infinite;
}
.navbar {
  box-sizing: border-box;
  display: flex;
  height: 100%;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.age {
  position: absolute;
  left: 10px;
}
.bulle{
  display: flex;
  align-items: center;
  grid-row-start: 1;
  grid-column-start: 1;
}

.points {
  margin: 0px;
  font-size: 15px;
  white-space: nowrap;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  height: 35px;
  flex-direction: row-reverse;
  font-family:'arial'

}
.new-points {
  position: absolute;
  top: 0;
  left: 0;
  height: 35px;
  display: flex;
  align-items: center;
  transform: translateY(25px);
  animation: appear 0.6s forwards;
}

@keyframes appear {
  0% {
    transform: translateY(25px);
  }
  40% {
    transform: translateY(25px);
  }
  100% {
    transform: translateY(0);
    opacity: 0;
  }
}

.bulle img {
  width: 35px;
  height: 35px;
}

.name{
  font-size: 15px;
  width: 72px;
  height: 52px;
}

.logo{
  display: flex;
  align-items: center;
}


.to_night {
  animation: to_night 1s linear forwards;
}

@keyframes to_night {
  0% {
    background-color: #476846;
  }
  100% {
    background-color: #000000;
  }
}

.day {
  grid-row: 2/9;
  padding: 8px 0;
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  overflow: scroll;
  border-radius: 10px;
  background-color: #476846;
  flex-grow: 1;
  border-top: solid 1px #2b2b2b;
  border-left: solid 1px #2b2b2b;
  box-shadow: -1px -1px 1px #000;
}

.to_day {
  animation: to_day 1s linear forwards;
}

@keyframes to_day {
  0% {
    background-color: #000000;
  }
  100% {
    background-color: #476846;
  }
}


.tank {
  background: #000;
  width:20%
}

.buttons{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  box-sizing: border-box;
  padding: 2%;
}

.set-up{
  display: flex;
  flex-direction: column;
  gap: 3%;
  justify-content: space-around;
  justify-self: center;

}

 .btn-index {
  width: auto;
  border-radius: 10px;
  background-color: rgb(196, 196, 196);
  border: none;
  box-shadow: -1px 1px 1px rgb(196, 196, 196),-4px 4px 0px #5e5e5e;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Pixelify Sans';
  font-size: 100%;

}

.form-with{
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.input{
  background-color: #476846;
  border-top: solid 1px #2b2b2b;
  border-left: solid 1px #2b2b2b;
  box-shadow: -1px -1px 1px #000;
  border-right: none;
  border-bottom: none;
  border-radius: 10px;
  font-family: 'Pixelify Sans';
  width: auto;
}

.btn{
  width: 45px;
  height: 40px;
  border-radius: 10px;
  background-color: rgb(196, 196, 196);
  border: none;
  box-shadow: -1px 1px 1px rgb(196, 196, 196),-4px 4px 0px #5e5e5e;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btndroite{
  width: 45px;
  height: 40px;
  border-radius: 10px;
  background-color: rgb(196, 196, 196);
  border: none;
  box-shadow: -1px 1px 1px rgb(196, 196, 196),-4px 4px 0px #5e5e5e;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn:active{
  box-shadow: none;
}
.btndroite:active{
  box-shadow: none;
}

a.btndroite{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
}

.btn-img{
  width: 100%;
}

.day-button{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  justify-self: center;
}

.space{
  width: 100px;
}

.lamp-button{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 10px;
  position: relative;
}


.has-lamp {
  height: 1px;
  width: 1px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  box-shadow: 0px 0px 3px 1px white, 0px 0px 6px 7px rgb(255, 96, 0);
  position: absolute;
  top: 50%;
  left: -35%;
}
.centerfooter{
  display: flex;
  align-items: center;
  padding: 25px;
  justify-content:center

}

.pop {
  text-decoration: none;
  background-color: white;
  padding: 15px;
  border-radius: 5px;
  color: black;
}

.size{
  display: flex;
}

.regles {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  inset: 0;
  background: rgba(77, 77, 77, .7);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .4s;
  z-index: 999;
}

.regles:target {
  visibility: visible;
  opacity: 1;
}

.regles.first {
  visibility: visible;

  animation: first 8s forwards;
}

@keyframes first {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

.regles_content {
  background-color: white;
  padding: 1.5em 2em;
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px;
  position: relative;
}

.regles_close {
  position: absolute;
  right: 15px;
  top: 15px;
  text-decoration: none;
  color: grey;
}

.regles_button {
  display: flex;
  justify-content: flex-end;
  align-items: first baseline;
}

.regles_button h1 {
  font-family: 'Pixelify Sans';
  font-size: 30px;
}

.regles_button h2 {
  font-family: 'Pixelify Sans';
  font-size: 25px;
}

.regles_content h1 {
  font-size: 28px;
  font-family: 'Pixelify Sans';
}

.regles_content h2 {
  font-size: 20px;
  font-family: 'Pixelify Sans';
}

.regles_content p {
  font-size: 16px;
  font-family: 'Pixelify Sans';
}

.icon {
  width: 25px;
  height: 25px;
}


.lien{
  text-decoration: none;
  color: #000000;
  margin: 10px;
}

.index{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 60%;

}

input{
font-family:'Public Pixel', sans-serif;
}

.infos{
  position: absolute;
  top: 0%;
  right: 1%;
  font-size: 16px;
  display: flex;
  flex-direction: column-reverse;
  align-items: end;
}


.typewriter {
  overflow: hidden;
  margin: 0 auto;
  letter-spacing: .15em;
  /* border-right: .15em solid orange; */
  /* animation:
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite; */
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

.fish-container {
  position: relative;
  width: 100%;
  height: 100%;
}


@keyframes Swim {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px); /* Mouvement vers la droite */
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes Swim2 {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(30px); /* Mouvement vers la droite */
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes Swim3 {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(70px); /* Mouvement vers la droite */
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes Swim4 {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(100px); /* Mouvement vers la droite */
  }
  100% {
    transform: translateX(0);
  }
}





.tomb {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -10px;
  z-index: 1000;
}

.tomb img {
  background-size: cover;
}

.name{

  align-items: center;
  justify-content: center;
}


.fishi1{
  background-image: url(fishu/fishi.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.fishi2 {
background-image: url(fishu/fishi2.png);
background-size: contain;
background-repeat: no-repeat;
}
.sick{
  background-image: url(fishu/sick.png);
  background-size: contain;
  background-repeat: no-repeat;

}
.sick2{
  background-image: url(fishu/sick2.png);
  background-size: contain;
  background-repeat: no-repeat;

}


.newfish{
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
}

.plant {
  background-image: url(fishu/plant.png);
  background-size: contain;
  background-repeat: no-repeat;

}

.poop {
  width: 35%;
  background-image: url(fishu/poop.png);
  background-size: contain ;
  background-position: bottom;
  background-repeat: no-repeat;
}


.causeofdeath{
  background-color: #000;
  width: 50px;
  height: 2px;
  position: absolute;
  animation: causeofdeath 1.5s linear infinite;

}

@keyframes causeofdeath {
  0% {
    background-color: #476846;
  }
  50% {
    background-color: #000000;
  }

  100%{
    background-color: #476846;
  }
}

#zoomtumb {
  font-family: 'pixer';
  font-size: 250px;
  margin: 0;
}
