@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
/* 'Pixelify Sans' */
@import url('https://fonts.cdnfonts.com/css/public-pixel');
/* 'Public Pixel' */

@import "ecran";
@import "fish-constainer";
@import "fish";
@import "plant";
@import "poop";
body {
  font-family: 'Public Pixel', sans-serif;
  /* font-family: 'Pixelify Sans'; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  margin: 0;
  background-color: rgb(170, 170, 170);
}

.alert {
  position: fixed;
  bottom: 1rem;
  width: 90vw;
  background-color: white;
  animation: degage 1.2s forwards;
}

@keyframes degage {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    display: none;
    opacity: 0;
  }
}
