.dashboard {
  background-color: #476846;
  border-radius: 10px;
  padding: 15px 40px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  margin-left: 15px;
  margin-bottom: 15px;
  border-top: solid 1px #2b2b2b;
  border-left: solid 1px #2b2b2b;
  box-shadow: -1px -1px 1px #000;
  justify-content: space-between;
}

.underline {
  border-bottom: dashed;
  margin-bottom: 3px;
  text-align: center;
}

.fish-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.fish-list {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.tank-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.details-info {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-items: center;
  padding-left: 5px;
}
