@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
/* 'Pixelify Sans' */
@import url('https://fonts.cdnfonts.com/css/public-pixel');
/* 'Public Pixel' */

body {
  font-family: 'Public Pixel', sans-serif;
  /* font-family: 'Pixelify Sans'; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  margin: 0;
  background-color: rgb(170, 170, 170);
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  box-sizing: border-box;

}

.bulle{
  display: flex;
  align-items: flex-start;
  height: 52px;
  width: 100px;
  position: relative;
}

.points {
  margin: 0px;
  font-size: 15px;
  white-space: nowrap;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  position: absolute;
  top: 0;
  left: 0;
  height: 35px;

}
.new-points {
  position: absolute;
  top: 0;
  left: 0;
  height: 35px;
  display: flex;
  align-items: center;
  transform: translateY(25px);
  animation: appear 0.6s forwards;
}

@keyframes appear {
  0% {
    transform: translateY(25px);
  }
  40% {
    transform: translateY(25px);
  }
  100% {
    transform: translateY(0);
    opacity: 0;
  }

}


.bulle img {
  width: 35px;
  height: 35px;
}

.name{
  font-size: 15px;
  width: 72px;
  height: 52px;
}

.logo img {
  width: 100px;
}

.to_night {
  animation: to_night 1s linear forwards;
}

@keyframes to_night {
  0% {
    background-color: #476846;
  }
  100% {
    background-color: #000000;
  }
}


.day {
  position: relative;
  width: 98%;
  padding: 8px 0;
  height: 100%;
  overflow: hidden;
  border: solid;
  border-radius: 10px;
  background-color: #476846;
  /* background-color: #000000; */
}

.to_day {
  animation: to_day 1s linear forwards;
}

@keyframes to_day {
  0% {
    background-color: #000000;
  }
  100% {
    background-color: #476846;
  }
}


.tank {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.buttons{
  height:300px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 25px;
}

.set-up{
  display: flex;
flex-direction: column-reverse;
gap: 15px;
flex-wrap: wrap;
}

.btn{
  width: 45px;
  height: 40px;
  border-radius: 10px;
  background-color: rgb(160, 156, 92);
}

.btn-img{
  width: 100%;
}

a.btn {
  text-decoration: none;
  text-align: center;
  font-size: 25px;
  color: black;
  box-shadow: 1px 1px 1px 1px black;
}

.day-button{
display: flex;
flex-direction: column;
justify-content: space-between;
}

.space{
  width: 100px;
}

.lamp-button{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 10px;
}

.has-lamp {
  height: 1px;
  width: 1px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  box-shadow: 0px 0px 3px 1px white, 0px 0px 6px 7px rgb(255, 96, 0);
}
.formulaire{
  display: flex;
  width: 100%;
  height: 300px;
  justify-content: center;
  align-items: center;
  padding: 25px;
  text-align: center;
}

/* .form{
  position: relative;
  top: 715px;
  bottom: 0;
  left: 309px;
  right: 0;
} */

.plant_icon {
  width: 80px;
  height: 80px;
  box-shadow: 100px greenyellow;
}

.pop {
  text-decoration: none;
  background-color: white;
  padding: 15px;
  border-radius: 5px;
  color: black;
}

.regles {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  inset: 0;
  background: rgba(77, 77, 77, .7);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .4s;
  z-index: 999;
}

.regles:target {
  visibility: visible;
  opacity: 1;
}

.regles_content {
  background-color: white;
  padding: 1.5em 2em;
  width: 500px;
  max-width: 400px;
  border-radius: 5px;
  position: relative;
}

.regles_close {
  position: absolute;
  right: 15px;
  top: 15px;
  text-decoration: none;
  color: grey;
}

.regles_button {
  display: flex;
  justify-content: flex-end;
  align-items: first baseline;
}

.regles_button h1 {
  font-size: 30px;
}

.regles_button h2 {
  font-size: 25px;
}

.regles_content p {
  font-size: 20px;
}
.dashboard{
  font-size: 20px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


a{
  text-decoration: none;
  color: #000000;
  margin: 10px;
}

.index{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  width: 60%;

}

input{
font-family:'Public Pixel', sans-serif;
}

.infos{
  position: absolute;
  top: 71%;
  left: 40%;
  font-size: 15px;
  display: flex;
  flex-direction: column-reverse;
  align-items: end;

}

p{
  font-size: 15px;
}
