@import url(‘https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap’);

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.bulle{
  display: flex;
  align-items: flex-start;
  width: 72px;
  height: 52px;
}

.points{
  margin: 0px;
  font-size: 20px;
}

.bulle img {
  width: 35px;
  height: 35px;
}

.name{
  font-size: 20px;
  width: 72px;
  height: 52px;
}

.logo img {
  width: 100px;
}

.container {
  position: relative;
  width: 100%;
  padding: 8px 0;
  height: 100%;
}

.tank {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-color: brown;
}

.tank img {
  background-size: cover;
}

.sac {
  height: 500px;
  background-image: url('sac.png');
  background-size: cover;
  width: 500px;
}

@keyframes fishSwim {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(20px); /* Mouvement vers la droite */
  }
  100% {
    transform: translateX(0);
  }
}


.fish {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  animation: fishSwim 2s ease-in-out infinite;
}

.fish1 {
  width: 200px;
  height: 200px;
}

.fish2 {
  width: 120px;
  height: 120px;
}

.fish3 {
  width: 80px;
  height: 80px;
}

.fish4 {
  width: 50px;
  height: 50px;
}

.plante {
  width: 100%;
  height: 100%;
}

.plant1 {
  width: 70px;
  height: 140px;
}

.poop {
  width: 100%;
  height: 100%;
}

.poop-image {
  width: 44px;
  height: 40px;
  position: absolute;
}



.buttons{
  height:300px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-color: brown;
}

.setup{
  width: 40%;
  display: flex;
  flex-wrap: wrap;
}

.day-button{
display: flex;
align-items: flex-end;
border-color: bisque;
padding:10px;
}

.formulaire{
  width: 100vh;
  height: 100vh;
  position: absolute;
}

.form{
  position: relative;
  top: 675px;
  bottom: 0;
  left: 270px;
  right: 0;
}
