.fish-container {
  position: relative;
  width: 100%;
  height: 100%;
}


@keyframes Swim {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px); /* Mouvement vers la droite */
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes Swim2 {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(30px); /* Mouvement vers la droite */
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes Swim3 {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(70px); /* Mouvement vers la droite */
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes Swim4 {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(100px); /* Mouvement vers la droite */
  }
  100% {
    transform: translateX(0);
  }
}

.fish {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.fish img {
  background-size: cover;
}

.tomb {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -10px;
}

.tomb img {
  background-size: cover;
}

.fish1 {
  width: 55%;
}

.fish2 {
  width: 50%;

}
.fish3 {
  width: 30%;

}
.fish4 {
  width: 20%;
}

.sac {
  height: 500px;
  background-image: url('sac.png');
  background-size: cover;
  width: 500px;
}

.newfish{
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
}
