.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.container {
  position: relative;
  width: 100%;
  padding: 8px 0;
  height: 100%;
}

.tank {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-color: brown;
}

.tank img {
  background-size: cover;
}

.sac {
  height: 500px;
  background-image: url('sac.png');
  background-size: cover;
  width: 500px;
}

@keyframes fishSwim {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(20px); /* Mouvement vers la droite */
  }
  100% {
    transform: translateX(0);
  }
}


.fish {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  animation: fishSwim 2s ease-in-out infinite;
}

.fish img {
  background-size: cover;
}

.buttons{
  height:300px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-color: brown;
}

.setup{
  width: 40%;
  display: flex;
  flex-wrap: wrap;
}

.day-button{
display: flex;
align-items: flex-end;
border-color: bisque;
padding:10px;
}

.bulle img {
  width: 35px;
  size: auto;
}
