.plante-container {
  .poop-container {
    position: relative;
    width: 100%;
    height: 100%;
  }
}
.plantes {
  width: 100%;
  height: 100%;
}

.plant1 {
  width: 70px;
}

.plant2 {
  width: 50px;
}

.plant3 {
  width: 30px;
}
.plant4 {
  width: 20px;
}
